@import './index.css';
@import './variables.css';

.section-departments {
  display: flex;
  justify-content: start;
  align-items: center;
  padding-left: 90px;
  height: 260px;
  width: 100%;
  background-color: #d2e9f7;
}

.departments {
  font-size: 40px;
  font-family: var(--main-font);
}

.img1 {
  width: 252px;
  height: 600px;
}

.img2 {
  width: 500px;
  height: 600px;
}

.img3 {
  width: 226px;
  height: 600px;
}

.images {
  width: 90%;
  margin: 30px auto;
  display: flex;
  gap:20px;
  justify-content: center;
}

.img4 {
  width: 328px;
  height: 400px;
}

.img5 {
  width: 400px;
  height: 400px;
}

.img6 {
  width: 372px;
  height: 400px;
}
/* ================ */

.carousel-item img {
            height: 400px;
            object-fit: cover;
        }

        .carousel-caption {
            background-color: rgba(0, 0, 0, 0.5);
            padding: 10px;
            border-radius: 5px;
            bottom: 20px;
        }

        .carousel-inner {
            display: flex;
            overflow-x: auto; 
            scroll-snap-type: x mandatory; 
            -webkit-overflow-scrolling: touch;
        }

        .carousel-item {
            flex: 0 0 33.3333%; /* Три элемента на строку */
            margin-right: 0;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: stretch;
            visibility: visible;
            scroll-snap-align: start;
        }

        .carousel-inner > .carousel-item > img {
            flex: 1;
            object-fit: cover;
            height: 100%;
        }

        @media (max-width: 768px) {
            .carousel-item {
                flex: 0 0 50%; 
            }
        }

        @media (max-width: 576px) {
            .carousel-item {
                flex: 0 0 100%; 
            }
        }

        .carousel-control-prev,
        .carousel-control-next {
            width: 10%; 
        }

        .carousel-control-prev {
            margin-left: -5%; 
        }

        .carousel-control-next {
            margin-right: -5%; 
        }

        .carousel-inner .active,
        .carousel-inner .active + .carousel-item,
        .carousel-inner .active + .carousel-item + .carousel-item {
            visibility: visible;
        }
        .carousel-control-prev,
        .carousel-control-next {
          display: none;
        }

.pre-content {
  margin: 50px 0;
}

.dep-text {
  width: 1044px;
  height: 95px;
  margin: 0 auto;
}

.what {
  color: var(--white-text);
}

.last-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btn-find-doctor {
  width: 262px;
  height: 50px;
  background-color: var(--white-text);
}

.btn-find-doctor:hover {
  background-color: #f0f0f0;
}